SUPABASE_SERVICE_ROLE_KEY=esJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ0.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1a2Jvem1mbHZvcZXuYXhjZ21vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6TMc2UDN5ODU1MiwiZXhwIjoyMDgwMTc0NTUyfQ.1UGzEgV5AegelZB7KtqLPLq3QtwEzn6IrCAVSedqN9g
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_OFHGxK2tciIEj0K5qeOa6w_7x5uxzLL
SUPABASE_SECRET_KEY=sb_secret_eAm0ji6nsGRTUBwgGXSjGA_tMNzxpMc
EXPO_PUBLIC_SUPABASE_PROJECT_URL=https://tekbazmflvoqvnbxcgxo.supabase.co
